$I: #cb5053;
$II: #f6ecca;
$III: #c0a791;
$IV: #988376;
$V: #4f494a;
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 100px;
  }
  .hefo{
    @include flex-center;
    height: 100px;
    background-color: $V;
    color: $III;
  }
  .aside{
    @include flex-center;
    background-color: $III;
    color: $V;
    height: 70px;
    padding: 50px;
    font-size: 1.4em;
  }
  @import 'colores';
  #main{
    
    background-color: #f8f6ef;
    margin: 0 100px;
}

ul {
    display: flex; /* Usamos flexbox para alinear los elementos en una fila */
    list-style-type: none; /* Quitamos los puntos de la lista */
    padding: 0; /* Quitamos el padding por defecto */
    margin: 0; /* Quitamos el margen por defecto */
    margin-bottom: 150px;
    
    
}
.div{
    padding: 60px;
    color: #312d2e;
    
}

/*li {
    margin-right: 10px; 
}*/
.co{
    color: #c0a791;
}


.aya{
    width: 300px;
    height: 150px;
}
#I{
    background-color: $I;
}
#II{
    background-color: $II;
}
#III{
    background-color:$III;
}
#IV{
    background-color: $IV;
}
#V{
    background-color: $V;
}


.div {
    padding: 60px;
    color: #312d2e;
  
    
  
    ul {
      
  
      .aya {
        width: 300px;
        height: 150px;
  
        &#XI {
          background-color: #f3ecc7;
        }
  
        &#XII {
          background-color: #b9c69c;
        }
  
        &#XIII {
          background-color: #79937c;
        }
  
        &#XIV {
          background-color: #596a67;
        }
  
        &#XV {
          background-color: #565952;
        }
      }
    }
  }
  
  @import 'umbrellas';

#XXI{
    background-color: #dd9f56;
}
#XXII{
    background-color: #f57a2a;
}
#XXIII{
    background-color: #b09842;
}
#XXIV{
    background-color: #ceb88b;
}
#XXV{
    background-color: #d9a874;
}
