.div {
    padding: 60px;
    color: #312d2e;
  
    ul {
      .aya {
        width: 300px;
        height: 150px;
  
        &#XVI {
          background-color: #2a7675;
        }
  
        &#XVII {
          background-color: #f0e331;
        }
  
        &#XVIII {
          background-color: #f19f17;
        }
  
        &#XIX {
          background-color: #d98d09;
        }
  
        &#XX {
          background-color: #af3220;
        }
      }
    }
  }
  